################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HMS.API/bin/Debug/net5.0
/HMS.API/obj
/HMS.Data/bin/Debug/net5.0
/HMS.Data/obj
/HMS.Repository/bin/Debug/net5.0
/HMS.Repository/obj
/HMS.Services/bin/Debug/net5.0
/HMS.Services/obj
/.vs/HMS/config/applicationhost.config
/.vs/HMS/DesignTimeBuild/.dtbcache.v2
/.vs/HMS/v16/.suo
